.container {
  padding: 20px;
  margin-bottom: 100px;
}

.carCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 120vh; 
  margin: 0 auto; 
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.carListItem {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .carListItem {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .carListItem {
    flex: 1 1 100%;
  }
}

.detailsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px; 
  width: 100%;

}

.detailsContainer p {
  margin: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  width: 100%; 
  margin-top: 10px
}

.editButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #798aac;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #111826;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px; 
  align-items: flex-end;
}

.addButton:hover {
  background-color: #0056b3;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 20px; 
}

.textContainer {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px; 
}