.carCard {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* Define o tamanho máximo do card */
}

.carCard h3 {
  margin-top: 0;
}

.carCard p {
  margin: 4px 0;
}